@-webkit-keyframes play {
  from {
    background-color: transparent;
  }
    to {
        background-color: #ff3385;
    }
}
@-moz-keyframes play {
  from {
    background-color: transparent;
  }
    to {
        background-color: #ff3385;
    }
}
@-ms-keyframes play {
  from {
    background-color: transparent;
  }
    to {
        background-color: #ff3385;
    }
}
@-o-keyframes play {
  from {
    background-color: transparent;
  }
    to {
        background-color: #ff3385;
    }
}
@keyframes play {
  from {
    background-color: transparent;
  }
    to {
        background-color: #ff3385;
    }
}

@-webkit-keyframes play2 {
  from{
        color: #ff3385;
  }
    to {
        color: #ffffff;
    }
}
@-moz-keyframes play2 {
  from{
        color: #ff3385;
  }
    to {
        color: #ffffff;
    }
}
@-ms-keyframes play2 {
  from{
        color: #ff3385;
  }
    to {
        color: #ffffff;
    }
}
@-o-keyframes play2 {
  from{
        color: #ff3385;
  }
    to {
        color: #ffffff;
    }
}
@keyframes play2 {
  from{
        color: #ff3385;
  }
    to {
        color: #ffffff;
    }
}
/* navbar TOP*/
.navbar-amazonki {
  background-color: transparent;
    /*-webkit-animation: play .5s steps(9) forwards reverse;
    -moz-animation: play .5s steps(10) infinite reverse;
    -ms-animation: play .5s steps(10) infinite reverse;
    -o-animation: play .5s steps(10) infinite reverse;
    animation: play .5s steps(9) forwards reverse;*/
    border: 0;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
}

/* title */

.navbar-amazonki .navbar-brand {
    /*-webkit-animation: play2 .5s steps(9) forwards reverse;
    -moz-animation: play2 .5s steps(10) infinite reverse;
    -ms-animation: play2 .5s steps(10) infinite reverse;
    -o-animation: play2 .5s steps(10) infinite reverse;
    animation: play2 .5s steps(9) forwards reverse;*/
    color: #ff3385;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}
.navbar-amazonki .navbar-brand:hover, .navbar-amazonki .navbar-brand:focus {
    color: #ff0052;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

/* link */

.navbar-amazonki .navbar-nav > li > a {
    /*-webkit-animation: play2 .5s steps(9) forwards reverse;
    -moz-animation: play2 .5s steps(10) infinite reverse;
    -ms-animation: play2 .5s steps(10) infinite reverse;
    -o-animation: play2 .5s steps(10) infinite reverse;
    animation: play2 .5s steps(9) forwards reverse;*/
    color: #ff3385;
    text-shadow: none;
}
.navbar-amazonki .navbar-nav > li > a:hover, .navbar-amazonki .navbar-nav > li > a:focus {
    color: #ff0052;
    background-color: transparent;
}
.navbar-amazonki .navbar-nav > .active > a, .navbar-amazonki .navbar-nav > .active > a:hover, .navbar-amazonki .navbar-nav > .active > a:focus {
    color: #ff0052;
    background-color: transparent;
}
.navbar-amazonki .navbar-nav > .open > a, .navbar-amazonki .navbar-nav > .open > a:hover, .navbar-amazonki .navbar-nav > .open > a:focus {
    color: #ff0052;
    background-color: transparent;
}

/* caret */

.navbar-amazonki .navbar-nav > .dropdown > a .caret {
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.navbar-amazonki .navbar-nav > .dropdown > a:hover .caret, .navbar-amazonki .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.navbar-amazonki .navbar-nav > .open > a .caret, .navbar-amazonki .navbar-nav > .open > a:hover .caret, .navbar-amazonki .navbar-nav > .open > a:focus .caret {
    border-top-color: transparent;
    border-bottom-color: transparent;
}

/* mobile version */

.navbar-amazonki .navbar-toggle {
    border-color: #DDD;
}
.navbar-amazonki .navbar-toggle:hover, .navbar-amazonki .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-amazonki .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-amazonki .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-amazonki .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-amazonki .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

/* navbar After scroll*/

.navbar-amazonki-animation {
    border: 0;

    -webkit-animation: play .5s steps(9) forwards;
    -moz-animation: play .5s steps(10) infinite;
    -ms-animation: play .5s steps(10) infinite;
    -o-animation: play .5s steps(10) infinite;
    animation: play .5s steps(9) forwards;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
}
/* title */

.navbar-amazonki-animation .navbar-brand {
    -webkit-animation: play2 .5s steps(9) forwards;
    -moz-animation: play2 .5s steps(10) infinite;
    -ms-animation: play2 .5s steps(10) infinite;
    -o-animation: play2 .5s steps(10) infinite;
    animation: play2 .5s steps(9) forwards;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}
.navbar-amazonki-animation .navbar-brand:hover, .navbar-amazonki-animation .navbar-brand:focus {
    color: #ff0052;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

/* link */

.navbar-amazonki-animation .navbar-nav > li > a {
  text-shadow: none;
    -webkit-animation: play2 .5s steps(9) forwards;
    -moz-animation: play2 .5s steps(10) infinite;
    -ms-animation: play2 .5s steps(10) infinite;
    -o-animation: play2 .5s steps(10) infinite;
    animation: play2 .5s steps(9) forwards;
}
.navbar-amazonki-animation .navbar-nav > li > a:hover, .navbar-amazonki-animation .navbar-nav > li > a:focus {
    color: #ff0052;
    background-color: transparent;
}
.navbar-amazonki-animation .navbar-nav > .active > a, .navbar-amazonki-animation .navbar-nav > .active > a:hover, .navbar-amazonki-animation .navbar-nav > .active > a:focus {
    color: #ff0052;
    background-color: transparent;
}
.navbar-amazonki-animation .navbar-nav > .open > a, .navbar-amazonki-animation .navbar-nav > .open > a:hover, .navbar-amazonki-animation .navbar-nav > .open > a:focus {
    color: #ff0052;
    background-color: transparent;
}

/* caret */

.navbar-amazonki-animation .navbar-nav > .dropdown > a .caret {
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.navbar-amazonki-animation .navbar-nav > .dropdown > a:hover .caret, .navbar-amazonki-animation .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.navbar-amazonki-animation .navbar-nav > .open > a .caret, .navbar-amazonki-animation .navbar-nav > .open > a:hover .caret, .navbar-amazonki-animation .navbar-nav > .open > a:focus .caret {
    border-top-color: transparent;
    border-bottom-color: transparent;
}

/* mobile version */

.navbar-amazonki-animation .navbar-toggle {
    border-color: #DDD;
}
.navbar-amazonki-animation .navbar-toggle:hover, .navbar-amazonki-animation .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-amazonki-animation .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-amazonki-animation .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-amazonki-animation .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-amazonki-animation .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
