.navbar {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  text-align: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 1s;
}

.navbar ul {
  list-style-type: none;
  display: inline-block;
}

.navbar ul a {
  text-decoration: none;
  padding: 0 20px;
  display: block;
  color: #ff3385;
  transition: color 1s;
}

.navbar ul>li {
  float: left;
}

.navbar ul>li:last-child {
  /*clear: both;*/
}

.navbar-header {
  font-family: 'Lobster', cursive;
  font-size: 25px;
  outline: 0;
  float: left;
  position: fixed;
}

.navbar-header a {
  text-decoration: none;
  color: #ff3385;
  transition: color 1s;
}

.navbar-nav {
  text-shadow: none;
  margin: 0 !important;
  font-family: 'Exo', sans-serif;
  font-size: 20px;
  height: 25px;
}

.navbar-amazonki {
  background-color: #ff3385;
  color: #ffffff;
}


/* title */

.navbar-amazonki .navbar-brand {
  color: #ffffff;
}

.navbar-amazonki .navbar-brand:hover, .navbar-amazonki .navbar-brand:focus {
  color: #ff0052;
}

.navbar-brand:hover, .navbar-brand:focus {
  color: #ff0052;
}


/* link */

.navbar-amazonki .navbar-nav>li>a {
  color: #ffffff;
}

.navbar-amazonki .navbar-nav>li>a:hover, .navbar-amazonki .navbar-nav>li>a:focus {
  color: #ff0052;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
  color: #ff0052;
}
