/* navbar */
.navbar-amazonki {
    background-color: transparent;
    border-color: transparent;
}
/* title */
.navbar-amazonki .navbar-brand {
    color: #777;
}
.navbar-amazonki .navbar-brand:hover,
.navbar-amazonki .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-amazonki .navbar-nav > li > a {
    color: #777;
}
.navbar-amazonki .navbar-nav > li > a:hover,
.navbar-amazonki .navbar-nav > li > a:focus {
    color: #5E5E5E;
    background-color: transparent;
}
.navbar-amazonki .navbar-nav > .active > a,
.navbar-amazonki .navbar-nav > .active > a:hover,
.navbar-amazonki .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent;
}
.navbar-amazonki .navbar-nav > .open > a,
.navbar-amazonki .navbar-nav > .open > a:hover,
.navbar-amazonki .navbar-nav > .open > a:focus {
    color: #555;
    background-color: transparent;
}
/* caret */
.navbar-amazonki .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-amazonki .navbar-nav > .dropdown > a:hover .caret,
.navbar-amazonki .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-amazonki .navbar-nav > .open > a .caret,
.navbar-amazonki .navbar-nav > .open > a:hover .caret,
.navbar-amazonki .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-amazonki .navbar-toggle {
    border-color: #DDD;
}
.navbar-amazonki .navbar-toggle:hover,
.navbar-amazonki .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-amazonki .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-amazonki .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-amazonki .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-amazonki .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
