body{
	background-color: #ffffff;
	color: #000000;
	font-size: 20px;
	margin: 0 !important;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

#mainContext{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#navBar{
}
#myNavbar{
}
#myTabs{
}
#stronaGlowna{
  padding-top: 150px;
  color: #ffffff;

	height: 100vh;
}
#oNas{
  padding-top: 50px;
  background-color: #ffffff;
}
#status{
  padding-top: 50px;
  background-color: #ffffff;
}
#sprawozdanie{
  padding-top: 50px;
  background-color: #ffffff;
}
#hymnAmazonek{
  padding-top: 50px;
  background-color: #ffffff;
}
#linki{
  padding-top: 50px;
  background-color: #ffffff;
}
#kontakt{
  padding-top: 50px;
  background-color: #ffffff;
}
#container{
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}
