body{
	background-color: #ffffff;
	color: #000000;
	font-size: 20px;
	margin: 0 !important;
}

#navBar{
}

#stronaGlowna{
  padding-top: 50px;
  background-color: #a4ff55;
  color: #e6005c;
}
#oNas{
  padding-top: 50px;
  background-color: #ff55f9;
}
#status{
  padding-top: 50px;
  background-color: #00f87c;
}
#sprawozdanie{
  padding-top: 50px;
  background-color: #f800f8;
}
#hymnAmazonek{
  padding-top: 50px;
  background-color: #65e2ff;
}
#linki{
  padding-top: 50px;
  background-color: #ff8265;
}
#kontakt{
  padding-top: 50px;
  background-color: #add8e6;
}
#container{
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}
