body{
	background-color: #ffffff;
	color: #000000;
	font-size: 20px;
	margin: 0 !important;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

#navBar{
}
#myNavbar{
}
#myTabs{
}
#stronaGlowna{
  padding-top: 50px;
  color: #ffffff;

	background-image:url("../../images/water-lily.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
		height: 100vh;
}
#oNas{
  padding-top: 50px;
  background-color: #ffffff;
}
#status{
  padding-top: 50px;
  background-color: #ffffff;
}
#sprawozdanie{
  padding-top: 50px;
  background-color: #ffffff;
}
#hymnAmazonek{
  padding-top: 50px;
  background-color: #ffffff;
}
#linki{
  padding-top: 50px;
  background-color: #ffffff;
}
#kontakt{
  padding-top: 50px;
  background-color: #ffffff;
}
#container{
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}
