<nav id="navBar" class="navbar" ng-class='headerAnimation'>
  <div class="navbar-header">
    <a ng-click='gotoElement("stronaGlowna")' class="navbar-brand" href="">Amazonki Biała Podlaska</a>
  </div>
  <ul class="navbar-nav">
    <li>
      <a ng-click='gotoElement("oNas")' href="">O nas</a>
    </li>
    <li>
      <a ng-click='gotoElement("hymnAmazonek")' href="">Hymn Amazonek</a>
    </li>
    <li>
      <a ng-click='gotoElement("linki")' href="">Linki</a>
    </li>
    <li>
      <a ng-click='gotoElement("kontakt")' href="">Kontakt</a>
    </li>
    <li>
      <a ng-click='gotoElement("1%")' href="">1%</a>
    </li>
  </ul>
</nav>
