<div id='stronaGlowna' class="container-fluid">
    <div class="container">
        <section>
            <h1>Bialskopodlaskie Stowarzyszenie "Amazonki"</h1>
            <h2>Serdecznie witamy na stronie</h2> Rok założenia 1998.
        </section>


        <!-- Rozpoznano u Ciebie chorobą nowotworową piersi? Ktoś z Twoich bliskich zachorował? Jesteś po mastektomii? Nie masz motywacji do walki z chorobą i powrotu do zdrowia? Czujesz się samotna w chorobie? Nie masz z kim o niej porozmawiać? Chcesz wrócić do pełnej
        sprawności psychoruchowej? WIEDZ, ZE CZEKAMY NA CIEBIE! Z NAMI ŁATWIEJ I PRZYJEMNIEJ! Zapraszamy do naszego Stowarzyszenia Amazonek. Wśród nas możesz liczyć na: zrozumienie i wsparcie psychiczne , wymianę doświadczeń, wspólną rehabilitację, zorganizowany
        wypoczynek i rozrywkę, miłą i życzliwą atmosferę, poszerzenie wiedzy o chorobie. PAMIĘTAJ! NIE JESTEŚ SAMA! Możesz także skorzystać z telefonicznego wsparcia i porad naszych Ochotniczek. Są to Amazonki Wolontariuszki, które przeszły odpowiednie
        szkolenia i potrafią rozwiać twoje wątpliwości. -->
    </div>
</div>
