.textShortInfo {
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 70%;
  border: 3px solid #ff3385;
  color: #000000;
  text-align: left;
  padding: 30px;
}

.btn-more {
  border-radius: 30px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  border: none;
  color: #ff3385;
  background-color: transparent;
  padding: 20px;
  outline: 0;
  font-size: 20px;
}

.textHymnAmazonek {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.textOnas {
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  line-height: 2em;
}

.oNasSzpalta {
  display:inline-block;
  padding: 20px;
  width: 30%;
  text-align: justify;
  vertical-align:top;
}

.ciemnePrzez {
  background: rgba(0, 0, 0, 0.7);
  -pie-background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  display: inline-block;
  border-radius: 30px;
  color: #ff3385;
  font-size: 25px;
}

.containerGlowna {
  /*padding-top: 70px;*/
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  text-align: center;
}

.amazonki-motto{
  font-family: 'Lobster', cursive;
  font-size: 60px;
}

#glownaImage {
  background-image: url("/images/lif-2xguzem-miro-dozo.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#oNasContainer {}
