<div id='stronaGlowna' class="container-fluid">
  <!--<div class="centerVertically">-->
        <div class="textShortInfo">
          Stowarzyszenie AMAZONKI powstało w 1998r.</br>
          Od samego początku naszym założeniem było</br>
          przełamanie tabu związane z podejściem do raka</br>
          w Polsce – zwiększenie wiedzy na temat</br>
          choroby/raka, świadome leczenie, zachowanie</br>
          pozytywne nastawienie/energia i kobiecości w</br>
          chorobie.</br>
          W naszym stowarzyszeniu możesz liczyć na</br>
          wsparcie, pozytywną energię i wymianę</br>
          doświadczeń, bo same przeszłyśmy przez chorobę</br>
          onkologiczną.</br>
        </div>
        <button ng-click="scrollAnimation($event)" class="btn-more" href="#oNas">TROCHĘ O NAS</button>
</div>
