<div id='stronaGlowna' class="container-fluid">
  <!--<div class="centerVertically">-->
        <div class="textShortInfo">
          Stowarzyszenie AMAZONKI powstało w 1998r.
          Od samego początku naszym założeniem było
          przełamanie tabu związane z podejściem do raka
          w Polsce – zwiększenie wiedzy na temat
          choroby/raka, świadome leczenie, zachowanie
          pozytywne nastawienie/energia i kobiecości w
          chorobie.
          W naszym stowarzyszeniu możesz liczyć na
          wsparcie, pozytywną energię i wymianę
          doświadczeń, bo same przeszłyśmy przez chorobę
          onkologiczną.
        </div>
        <button ng-click="scrollAnimation($event)" class="btn-more" href="#oNas">TROCHĘ O NAS</button>
      </div>
</div>
