<div id='oNas'>
    <h1>
      O NAS
    </h1>
<div id="oNasContainer">
      <div class="textOnas">
        <h3>
      <p>Stowarzyszenie AMAZONKI powstało w 1998r. Od samego początku naszym założeniem było</br>
      przełamanie tabu związane z podejściem do raka w Polsce – zwiększenie wiedzy na temat</br>
      choroby/raka, świadome leczenie, zachowanie pozytywne nastawienie/energia i kobiecości w chorobie.</br>
    </p>
    <p>
      W naszym stowarzyszeniu możesz liczyć na wsparcie, pozytywną energię i wymianę</br>
      doświadczeń, bo same przeszłyśmy przez chorobę onkologiczną.</br>
    </p>
    </h3>
    </div>
  </div>
</div>
