<div id='oNas'>
  <div class="dzialHead">
      O nas
    </div>
  <div id="oNasContainer">
    <div class="textOnas">
        <div class="oNasSzpalta">
          <p style="color: #ff3385; text-align:center; font-size:20px;">Bialskopodlaskie Stowarzyszenie „Amazonki”</p>
    <p>
      Nasza praca skupia się wokół działań na rzecz kobiet z rakiem
      piersi i profilaktyki onkologicznej. Uczestniczymy w systematycznych zajęciach rehabilitacji.
      Organizujemy szkolenia i spotkania klubowe z fachowymi prelegentami. Współorganizujemy na terenie
      miasta akcje edukacyjne i profilaktyczne na rzecz wczesnego wykrywania raka piersi. Integrujemy środowisko
      chorych i ich rodzin poprzez pikniki, wycieczki , pielgrzymki.
    </p>
  </div>
  <div class="oNasSzpalta">
    <p>
      Współpracujemy z innymi Stowarzyszeniami Amazonek, instytucjami medycznymi, organizacjami
      pozarządowymi i władzami miasta.
    </p>
    <p>
      Stowarzyszenie rozpoczęło działalność z dniem 23 stycznia 1998 roku. </br>
      Spotykamy się w Klubie w każdą środę o godz. 1530 (oprócz wakacji). Zapraszamy.
    </p>
    <p style="color: #ff3385;">Status Organizacji Pożytku Publicznego od 26.11.2009</p>
  </div>
  <div class="oNasSzpalta">

    <p>Zarząd Stowarzyszenia:</p>
    <p>Przewodnicząca – Bożena Grąszko</p>
    <p>Sekretarz Zarządu – Teresa Młynarczyk</p>
    <p>Członek Zarządu – Danuta Ksiniewicz-Kozak</p>
  </div>
  <div style="clear: both;"></div>
    </div>
  </div>
</div>
