.procentContainer{
  padding-bottom: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.procentData1{
  font-size: 60px;
  padding-bottom: 50px;
  color: #ff3385;
}
.procentData2{
  font-size: 30px;
}
