.navbar {
  width: 100%;
  position: fixed;
  text-align: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 1s;
}

.navbar ul {
  list-style-type: none;
  display: inline-block;
  margin: 10px;
  /*padding: 0;*/
}

.navbar ul a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30px;
  display: block;
  color: #ff3385;
  transition: color 1s;
}

.navbar ul>li {
  float: left;
}

.navbar-header {
  font-family: 'Lobster', cursive;
  font-size: 25px;
  outline: 0;
  float: left;
  position: fixed;
  padding-top: 20px;
  padding-left: 20px;
}

.navbar-header a {
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  color: #ff3385;
  transition: color 1s;
}

.navbar-nav {
  text-shadow: none;
  /*margin: 0 !important;*/
  font-family: 'Exo', sans-serif;
  font-size: 20px;
}

.navbar-amazonki {
  background-color: #ff3385;
  color: #ffffff;
}

/* title */

.navbar-amazonki .navbar-brand {
  color: #ffffff;
}

.navbar-amazonki .navbar-brand:hover{
  background-color: #ff1365;
}

.navbar-brand:hover{
  background-color: black;
  transition: background-color 1s;
}

/* link */

.navbar-amazonki .navbar-nav>li>a {
  color: #ffffff;
}

.navbar-amazonki .navbar-nav>li>a:hover{
  background-color: #ff1365;
}

.navbar-nav>li>a:hover{
  background-color: black;
  transition: background-color 1s;
}
