<div id='hymnAmazonek' class="container-fluid">
    <div class="textShortInfo">
        <div class="textHymnAmazonek">
            <h3>Hymn ogólny Amazonek</h3>

            <p>Nie ma rzeczy, nie ma rzeczy</br>
                Niemożliwych</br>
                Wszystkich ludzi uszczęśliwić.</p>

            <p>Ref. Tylko proszę daj mi Panie</br>
                Skrawek nieba</br>
                I nic więcej, i nic więcej</br>
                Mi nie trzeba.</p>
        </div>

    </div>

    <div class="textShortInfo">
        <div class="textHymnAmazonek">
            <h3>Hymn Amazonek Lubelskich</h3>

            <p>Chcę pokochać, chcę pokochać</br>
                Małych, dużych,</br>
                Całym sercem ludziom służyć.</p>
            <p>Ref. Tylko proszę ….</p>
            <p>Chcę by zgoda,</br>
                chcę by przyjaźń nas łączyła,</br>
                chcę by miłość ważna była.</p>
            <p>Ref. Tylko proszę ….</p>
            <p>Serca nasze, serca nasze</br>
                Wam oddamy,</br>
                Wszystkich ludzi pokochamy.</p>
            <p>Ref. Tylko proszę …</p>
        </div>
    </div>

</div>
