<div id='kontakt'>
    <h1>KONTAKT</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae arcu ac massa tincidunt efficitur. Nunc non mauris mauris. In vitae elit sit amet est auctor finibus eget id magna. Duis ullamcorper ipsum lacus, eu hendrerit nunc semper sed. Maecenas
        rhoncus nisi at vestibulum pulvinar. Nunc vel justo ut ante gravida pellentesque id sit amet sapien. Quisque fringilla felis id turpis cursus tincidunt. Aenean non consectetur metus, vel finibus velit. Curabitur mattis nibh lacus, a cursus mauris
        accumsan eget. Morbi eu elementum arcu. Sed ut tellus in justo euismod mattis. Quisque eget mi id dui mattis vehicula aliquet eget neque. Sed viverra efficitur iaculis.
    </p>

    <p>
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque faucibus fermentum lectus, ac cursus enim lobortis sed. Etiam eget leo sollicitudin, aliquam mauris a, porttitor nisi. Nulla finibus lobortis mattis.
        Aenean tincidunt maximus lectus eu mattis. Donec justo purus, dictum vitae aliquet sit amet, commodo ut lacus. Curabitur sit amet mollis nisl. Proin nec justo pulvinar, pretium ipsum ut, venenatis nibh. Cras eget pellentesque tortor, non ultrices
        libero.
    </p>

        <ui-gmap-google-map center="map.center" zoom="map.zoom"></ui-gmap-google-map>
</div>
