<div id='kontakt'>
  <div class="dzialHead">Kontakt</div>
  <div class="kontaktContainer">
    <div class="kontaktSzpalta">
      Bialskopodlaskie Stowarzyszenie „Amazonki”</br>
      ul. Okopowa 3</br>
      21-500 Biała Podlaska</br>
      Tel. 790 908 007</br>
    </div>
    <div class="kontaktSzpalta">
    </div>
    <div style="clear:both"></div>
  </div>

  <ui-gmap-google-map center="map.center" zoom="map.zoom">
    <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">

    </ui-gmap-marker>
  </ui-gmap-google-map>
</div>
