<div id='linki'>
  <div class="dzialHead">Linki</div>

  <div class="linkiContainer">
    <a target="_blank" href="http://mops-bialapodlaska.pl/?id=artykuly&ktory=181">
      <div class="linkContent">
        Miejski Ośrodek Pomocy Społecznej w Białej Podlaskiej
      </div>
    </a>
    <a target="_blank" href="http://www.amazonkifederacja.pl/">
      <div class="linkContent">
        Amazonki Federacja
      </div>
    </a>
    <a target="_blank" href="http://www.lfoon.lublin.pl/~amazonki/">
      <div class="linkContent">
        Lubelskie Forum Organizacji Osób Niepełnosprawnych - Sejmik Wojewódzki
      </div>
    </a>
    <a target="_blank" href="http://www.amazonki.net">
      <div class="linkContent">
        amazonki.net
      </div>
    </a>
    <a target="_blank" href="http://www.forum.amazonka.org.pl/">
      <div class="linkContent">
        forum.amazonka.org.pl
      </div>
    </a>
  </div>

</div>
